body {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.avatar {
    width: 150px;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #b5e48c                                                        ;
    color: #1b4965;
    border-bottom: 8px solid #ffba08;
    border-top: 8px solid #ffba08;
    border-left: 8px solid #1b4965;
    border-right: 8px solid #1b4965;
}
.border-blue {
    border: 1px dotted blue;
}